torch
torchaudio
numpy
scipy
gradio
librosa
soundfile
fairseq
transformers
inflect
cn2an
unidecode
pypinyin
pyopenjtalk
jieba
edge-tts
g2p_en
phonemizer
ffmpeg-python
matplotlib
faster-whisper
numba
fsspec==2025.3.2
websockets>=14.0,<15.1.0